wheel
setuptools>=67.8.0
pandas==2.1.4
numpy==1.26.4
missingno==0.5.1
seaborn==0.12.2
matplotlib==3.7.5
IPython==8.13.0
scikit-learn==1.5.2
xgboost==1.7.5
lightgbm==3.3.2
shap==0.47.2
interpret==0.6.0
